
.backgroundImage{
  position: relative;
  background-image: url(../IMG/sky5.jpg);
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
}

textarea{
  background: transparent;
  outline: none;
  border-radius: 15px;
  resize: none;
}

.pointer{ cursor: pointer; }
.tSilver{ color: silver }


@media( min-width: 800px ){
  .horizontalDailyCardHidder{ display: none; }
}