
#dayToRepeatContainer{
  background-color: none;
  padding: 5px 0px;
  border-bottom: 1px solid black;
  text-align: center;

  .option{
    display: inline-block;
    cursor: pointer;
    width: 20%;
    padding: 4px 3px;
    text-align: center;
    font-size: 11px;
    border-radius: 7px;

    transition: 0.25s;
  }

  .option:hover{
    background-color: #A4978E;
    color: white;
    font-weight: bold;
  }

  .active1{
    // font-weight: bold;
    // text-decoration: underline;
    // color: black;
    background-color: #A4978E;
    color: white;
    font-weight: bold;

    // padding: 3px;
    // border-radius: 3px;
    // font-size: 12px;
    // border-radius: 50%;
    // color: white;
    // background-color: #A4978E;
    // color: white;
    // transition: 0.8s;
  }
}
