@media (max-width: 800px){
  .rightMenuContainer{
    position: absolute;
    right: 10px;
    top: 6px;
    color: white;

    .rightMenuOpener{
      display: block;
      cursor: pointer;
      width: 30px;
      height: 30px;
      line-height: 25px;
      text-align: center;
      border: 1px solid silver;
      border-radius: 3px;
    }

    .rotate{
      transform: rotate(90deg);
    }
  }

  .popup{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -125px;
    margin-top: -100px;
    background-color: white;
    border-radius: 5px;
    color: black;
    width: 250px;
    z-index: 999999;
    opacity: 1;
    border: 1px solid black;
    text-align: center;

    .item{
      display: block;
      padding: 10px 0px 10px 10px;
      // color: red;
      color: black;
      border-bottom: 1px solid silver;
      cursor: pointer;
    }
  }

}
