
#scheduleComponent{
  // background-color:rgb(138, 128, 128);
  background-color: silver;
  color:black;
  // color: silver;
  min-height: 100vh;
  // background-image: url(../IMG/sky2.jpg);

  .scheduleHeader{
    background-color: black;
    // background-color: #A4978E;
    color:white;
    padding: 4px 0px;
  }

  .totalNrOfQuestions{
    display: inline-block;
    // color: orange;
    width: 150px;
    text-align: center;
  }

  .tags{
    display: inline-block;
    font-weight: bold;
    vertical-align: top;
  }

  .nrOfQuestionsHeadline, .creationDateHeadline{
      display: inline-block;
      text-align: center;
      // color: orange;
      color: silver;
  }

  .nrOfCardQuestions{
    font-weight: bold;
  }

  .date{
    display: inline-block;
    font-weight: bold;
    padding-left: 5px;
    color: silver;
  }

  @media (min-width: 601px){
    .tags{
      width: 400px;
      padding-left: 25px;
    }

    .nrOfCardQuestions{
      display: inline-block;
      width: 150px;
      text-align: center;
    }

    .creationDate{
      display: inline-block;
      width: 150px;
      text-align: center;
    }

    .nrOfQuestionsHeadline, .creationDateHeadline{
      display: inline-block;
      width: 150px;
    }

    .date{
      width: 395px;
      padding-left: 10px;
    }
  }

  @media (min-width: 1000px){
    .tags{
      width: 650px;
      padding-left: 25px;
    }

    .nrOfQuestionsHeadline{
      width:100px;
    }

    .creationDateHeadline{
      width: 110px;
      margin-left: 50px;
    }

    .date{
      width: 670px;
      padding-left: 10px;
    }
  }

  @media (max-width: 750px){
    .creationDateDesktop{
      display: none;
    }
  }

  @media (max-width: 600px){
    .lineContainer{
      border-bottom: 1px solid black;
    }

    .tags{ 
      width: 290px;
      padding-left: 5px;
    }

    .date{
      width: 265px;
    }
  }
}