
#settingbar{

  position: relative;
  border-bottom: 1px solid silver;
  color: white;
  height: 40px;

  .layout{
    cursor: pointer;
    margin-left: 5px;
  }

  .schedule{
    display: inline-block;
    cursor: pointer;
    color: white;
    padding: 3px 5px 2px 10px;
  }

  .menuString{ padding-left: 10px; }

  .hideIt{
    opacity: 0.2;
  }

  .homeButton{
    display: inline-block;
    height: 100%;
    padding: 0px 20px;
    color: silver;
    line-height: 100%;
    line-height: 40px;
  }

  .mobile33{display: none;}

  @media (max-width: 800px){
    .desktop{ display: none; }
    .mobile33{display: inline-block}
    // .hideIt{ display: none; }

    .layoutContainer{
      position: absolute;
      right: 50px;
      top: 3px;
      opacity: 1;
    }

    .menuOptions{
      display: none;
    }

    .menuOpener{
      position: absolute;
      top: 5px;
      left: 10px;
      height: 30px;
      width: 30px;
      cursor: pointer;
    }

    .viewOption{
      display: inline-block;
      position: relative;
      top: 2px;
      width: 25px;
      height: 30px;
      margin-right: 10px;
    }

  }

  @media(min-width: 800px){
    height: 32px;

    .layoutContainer{
      position: absolute;
      right: 80px;
      top: 3px;
      opacity: 1;
    }

    .menu{
      display: inline-block;
      position: relative;
      margin-left: 10px;
      width: 140px;
      cursor: pointer;
      border-right: 1px solid silver;
    }
  }
}





