
#settingbar{
  position: relative;
  height: 30px;
  background-color: #242424; 
  border-bottom: 1px solid silver;
  color:white;


  .hideMenuOption{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 140px;
    height: 100%;
    background-color: #242424;
    opacity: 0.8;
  }

  .menu{
    display: inline-block;
    margin-left: 10px;
    width: 140px;
    cursor: pointer;
    border-right: 1px solid silver;
  }

  .layout{
    cursor: pointer;
    margin-left: 5px;
  }

  .schedule{
    display: inline-block;
    position: relative; 
    cursor: pointer;
    padding: 3px 5px 2px 10px;
  }

  @media ( max-width: 750px ) {
    .menuOptions{
      display: none;
    }
  }
}
