#stats{
  display: block;
  padding: 5px 0px;
  color: silver;
  font-size: 0.8em;
  background-color: black;

  .item{
    opacity: 0.7;
    display: inline-block;
    font-weight: bold;
    padding: 0px 10px 3px 10px;
    border-right: 1px solid silver;
    border-radius: 3px;
  }

  .dataString{
    margin-top: -3px;
    overflow: hidden;
    background-color: #242424;
    margin-left: 10px;
    vertical-align: top;
  }
}

@media(max-width:600px){
  #stats{display: none;};
}