

#tagInput{
  display: block;
  font-family: "times new roman";
  .header{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    text-align: center;
    color: white;
    background-color: #242424;
    padding-top: 3px;
    box-shadow: 3px 0px 10px black;
  }

  .input3{
    display: inline-block;
    font-size: 18px;
    padding: 0px 25px;
    width: 100%;
    height: 35px;
    font-style: italic;
    border: none;
    box-shadow: 2px 2px 4px gray;
    // text-align: center;
  }
}

@media (max-width: 700px){
  #tagInput{
    display: inline-block;

    .input3{
      padding: 0px 35px;
      font-size: 14px;
    }
  }
}















