#topbar{
  min-height: 60px;
  position: relative;
  color: silver;
  text-shadow: 2px 2px black;
  border-bottom: 1px solid #242424;
  background-color: #1d0002;

  // background-color: #2d3436;
  // background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  padding-top: 10px;


  #topbarHeadline{
    padding-left: 15px;
    padding-top: 3px;
    font-weight: normal;
    color: silver;
    text-decoration: none;
    // font-family: Arial;
    // font-family: Helvetica;
    // font-family: verdana;
    // font-family: 'Arial Narrow';
    font-family: 'Times New Roman';
    font-size: 0.7em;
    text-align: center;
  }

  h1{
    font-size: 2.5em;
  }


  #schedulerContainer{
    position: absolute;
    top: 18px;
    right: 10px;
    color: silver;
    // overflow-x: hidden;

    .scheduleInputs{
      display: inline-block;
      position: relative;
      top: -2px;
      margin-right: 3px;
      opacity: 0.7;
    }

    input{
      width: 30px;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      margin-left: 5px;
      border-radius: 4px;
      font-size: 0.5em;
      outline: none;
      border: 1px solid silver;
      background-color: black;
      color: white;
      box-shadow: 1px 1px 1px black;
    }

    .closeExpandedArea{
      position: relative;
      top: 1px;
      display: inline-block;
      width: 25px;
      border: 1px solid silver;
      border-radius: 50%;
      text-align: center;
    }

  }

  
  @media (max-width: 750px){
    h1{ font-size: 1.8em; } 
    #schedulerContainer{
      top: 14px;
    }
    &{
      min-height: 50px;
    }
  }


}