

#verticalBar{
  position: relative;
  border-right: 2px solid gray;
  font-size: 1em;
  display: inline-block;
  width: 220px;
  background-color: white;
  height: 80vh;
  overflow: scroll;
  z-index: 99;

  .header{
    background-color: #242424;
    font-style: italic;
    text-align: center;
    color: white;
    opacity: 1;
    font-size: 1em;
  }

  .checkbox{
    position: absolute;
    width: 15px;
    bottom: 5px;
    right: 3px;
    z-index: 2;
  }

  .card{
    position: relative;
    padding: 5px 5px;
    border-bottom: 1px solid silver;
    cursor: pointer;
    font-size: 0.8em;
  }

  .active{
    color: white;
    background-color: #A4978E;
  }

  .passive{
    color: black;
    background-color: white;
  }

  .extra{
    text-align: center;
    font-size: 1em;
  }

  .tags{
    display: inline-block;
    font-weight: bold;
  }
}

@media (min-width: 700px){
  #verticalBar{
    margin: 0px;
    padding: 0px;
    float: left;
    height: 80vh;
  }
}




@media (max-width: 700px){
  #verticalBar{
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: 9;
    top: 0px;

    @-moz-document url-prefix() {
      top: 15px;
    }

    left: 0px;
    width: 240px;
    height: 80vh;
    overflow: scroll;
    word-wrap: break-word;

    .card{ padding-right: 0px; }
    .checkbox{
      right: 3px;
      top: 0px;
    }
  }

}