

#verticalBar{
  // font-family: 'times new roman';
  position: relative;
  border-right: 2px solid gray;
  font-size: 1em;
  display: inline-block;
  width: 220px;
  height: 80vh;
  overflow: scroll;
  z-index: 99;
  overflow-x: hidden;

  #searchBox{
    width: 100%;
  }

  #createNewCard{
    border: 1px solid silver;
    padding: 0px 5px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
  }

  .header{
    // background-image: url(../IMG/sky2.jpg);
    // background-color: #000000;
    // background-image: linear-gradient(315deg, #000000 0%, #414141 74%);

    // background-color: #000000;
    // background-image: linear-gradient(147deg, #000000 0%, #434343 74%);

    // background-color: #000000;
    // background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    // background-color: #2d3436;
    // background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);

    background-color: #1d0002;
    font-style: italic;
    text-align: center;
    color: white;
    opacity: 1;
    font-size: 1em;
  }

  .checkbox{
    position: absolute;
    width: 15px;
    bottom: 5px;
    right: 3px;
    z-index: 2;
  }

  .card{
    position: relative;
    padding: 5px 7px 5px 5px;
    border-bottom: 1px solid silver;
    cursor: pointer;
    font-size: 0.8em;
    transition: 0.1s;
  }
  .card:hover{
    color: white;
    background-color: #A4978E;
    // font-weight: bold;
  }

  #hideMissedCards{
    position: absolute;
    display: inline-block;
    right: 5px;
    top: 3px;
    width: 20px;
    height: 20px;
    color: white;
    cursor: pointer;
  }

  .rotate-90{
    transform: rotate(-90deg);
  }


  .active{
    color: white;
    background-color: #A4978E;
  }

  .passive{
    color: black;
    background-color: white;
  }

  .extra{
    text-align: center;
    font-size: 1em;
  }

  .tags{
    display: inline-block;
    font-weight: bold;
    // word-wrap: break-word;
  }

  .invisible{
    display: none;
  }
  .visible{
    display: block;
  }
}

@media (min-width: 800px){
  #verticalBar{
    margin: 0px;
    padding: 0px;
    float: left;
    height: 80vh;
  }
}




@media (max-width: 800px){
  #verticalBar{
    position: absolute;
    margin: 0px;
    padding: 0px;
    z-index: 9;
    top: 0px;
    display: none;

    @-moz-document url-prefix() {
      top: 15px;
    }

    left: 0px;
    width: 240px;
    height: 80vh;
    overflow: scroll;
    word-wrap: break-word;

    .card{ padding-right: 0px; }
    .checkbox{
      right: 3px;
      top: 0px;
    }
  }

}